export const App: any = {
    AppName: 'HCD Posadas',  // Change This With Your App Name
    BASEURL: 'https://hcdposadas.gob.ar/',  //Change It With Yours Website URL
    OneSignalAppID: '', //Change It With Yours OneSingnal App Id
    GCMServerApiKey: '', //Change It With Yours GCM API Key
    StatusBarColor: '#008a77', //Change Status Bar Color
    ProductionMode: 0, //To Enable Production Mode Replace Value With 1
    PackageName: 'com.hcdposadas.app' //Change This With Your Package Name
};