<ion-header parallax [fadeTitle]="true" imageUrl="{{data.thumbnail_images.medium_large.url}}" maximumHeight="250">
  <ion-navbar color="primary" *ngIf="data">
    <button ion-button menuToggle class="hamburger">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{wp.setTitle(data.title)}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="post-detalle" *ngIf="data">  
  <div class="detailTitle">{{wp.setTitle(data.title)}}</div>
  <p class="fecha-detalle fecha">{{getDate(data.modified)}}</p>
  <div class="detailCategories">
    <div *ngFor="let item of data.categories">
      {{item.title}}
    </div>
  </div>
  <div class="detailDescription">
    <span [innerHTML]="data.content | safe:'html'"></span>
  </div>
  <div class="detailDescription" style="text-align: center;">
    <div *ngFor="let item of data.acf.archivos">
      <button ion-button (click)="abrirPDF(item)" icon-end full>{{item.archivo.title}}
        <ion-icon name="download"></ion-icon>
      </button>
    </div>
  </div>
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="sharePost(setTitle(data.title),data.url)">
      <ion-icon name="share-alt"></ion-icon>
    </button>
  </ion-fab>
</ion-content>